<div class="card"
  [ngClass]="{ 'flipped': isFlipped, 'dragging-left': isDraggingLeft, 'dragging-right': isDraggingRight }"
  (click)="toggleFlip()">

  <p class="label-type" [ngClass]="{'glassed' : isFlipped}"> {{ isFlipped ? "Here is the answer, did you remember?"
    :'Can you remember it?' }} </p>

  <p class="text" [ngClass]="{'glassed' : isFlipped}">{{ isFlipped ? card.answer : card.ask }}</p>


  <div class="buttons-container" *ngIf="isFlipped">
    <mat-icon class="btn-right" matPrefix (click)="onSwipe('right')">thumb_up</mat-icon>
    <mat-icon class="btn-left" matPrefix (click)="onSwipe('left')">thumb_down</mat-icon>
  </div>
</div>
