<div class="card"
  [ngClass]="{ 'flipped': isFlipped, 'dragging-left': isDraggingLeft, 'dragging-right': isDraggingRight }"
  (click)="toggleFlip()">
  <p class="label-type" [ngClass]="{'glassed' : isFlipped}"> {{ isFlipped ? "Here is the answer, did you remember?"
    :'Can you remember it?' }} </p>

  <mat-icon class="btn-right" *ngIf="isFlipped" matPrefix
    (click)="onSwipe('right')">thumb_up</mat-icon>

  <p class="text" [ngClass]="{'glassed' : isFlipped}">{{ isFlipped ? card.answer : card.ask }}</p>

  <mat-icon class="btn-left" *ngIf="isFlipped" matPrefix
    (click)="onSwipe('left')">thumb_down</mat-icon>
</div>
