.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.form-header {
  display: flex;
  justify-content: center;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #dcdcdc;
  margin-bottom: 10px;
  text-align: center !important;
}

.form-field {
  width: 100%;
  margin-bottom: 8px;
}

button {
  width: 100%;
}


/* Media query para telas menores (ex: dispositivos móveis) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Estilos diferentes para telas menores */
  }
}
