<mat-toolbar color="primary">
  <span>Flash Vocab</span>
  <span class="spacer"></span>
  <button type="button" mat-raised-button color="primary" class="google-login-button" (click)="onGoogleSignIn()">
    <img src="assets/google-logo.png" alt="Google Logo" class="google-icon">
    Sign In
  </button>
</mat-toolbar>

<div class="landing-page-container">
  <div class="landing-page-content">
    <h1>Welcome to Your Flashcard App</h1>
    <p>Learn and practice languages with ease using our flashcard app. Sign in with Google and start your learning
      journey today!</p>
    <img src="assets/person-learning.jpg" alt="Flashcard App Image" class="landing-page-image">
  </div>
</div>
