* {
  color: #dcdcdc;
}

.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.landing-page-content {
  text-align: center;
}

.landing-page-image {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.google-login-button {
  display: flex;
  align-items: center;
}

.google-icon {
  width: 24px; /* Ajuste o tamanho conforme necessário */
  margin-right: 8px;
  vertical-align: middle;
}
