/* You can add global styles to this file, and also import other style files */

html, body { margin: 0; padding: 0; background-color: #424242; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card-panel .mat-mdc-dialog-surface {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  overflow: hidden !important;
}


.cdk-global-overlay-wrapper {
  background-color: #252525c8 !important;
}


